*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* accent: fe805d,text: #26344f,secondary: #7b8387 */
body{
 
  min-height: 100vh;
  background: #e7f1f9;
}
.calculator{
  
  /* position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;   */
  width: 300px;
  height: min-content;
  display: grid;
  border-radius: 12px;
  padding: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}
.calculator .value{
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}
.calculator button{
  display: grid;
  width: 60px;
  height: 60px;
  color: #26344f;
  background: #e7f1f9;
  place-items: center;
  margin: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.calculator button:active{
  background: rgb(26, 133, 175);
  color: #111;
}
.calculator .numclear{
  background: #fe805d;
}
.calculator .numclear:hover{
  border: 1px solid #fe805d;;
  background: none;
  color: #fe805d;
}
.calculator button.plus{
  grid-row: span 2;
  height: 120px;
}

.calculator button.equal{
  background: #7b8387;
  color: white;
}